{% extends "base.njk" %}

{% block title %}Homepage{% endblock %}

{% block head %}
<style>
    .homepage {
        font-family: 'Times New Roman', Times, serif;
        width: 60%;
        margin: 0 auto;
    }

    @media only screen and (max-width: 540px) {
        .homepage {
            width: 90%;
            margin: 0 auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="homepage standard-dialog">
    <p>
        Welcome to my “Favorite Music of 2025” website! This was my 6th year of making my end-of-year music lists, but
        this
        time I wanted to share my favorites on a personalized website rather than posting it on Instagram since I’m
        trying
        to limit my usage of the app. Luckily I have a very talented software engineer boyfriend who helped me make it!
        &colon; &rpar;
    </p>
    <p>
        For now, this website includes my
        <a href="/albums">50 favorite albums &plus; honorable mentions</a>,
        <a href="/eps">5 favorite EPs</a>, and
        <a href="/songs">50 favorite songs</a> of 2025.
        Aside from that, on the <a href="/other">other</a> page, I also include three 2024
        albums
        that I enjoyed but
        didn’t cover on my
        Instagram end-of-year list for 2024 since they came out too late, and 10 older/classic albums that I discovered
        in
        2025. In the future, I hope to expand the website in such a way that I can write about my music discoveries on a
        more frequent basis, particularly since I’m out of school for now!
    </p>
    <p>
        All of the reviews/analyses on here are entirely my own writing and editing that I completed over the course of
        ≈6
        weeks, and the website format allowed me to go into a lot more detail than I would otherwise be able to on
        Instagram. I hope you take the time to read through some of it and reach out to me if you want to chat about
        your
        favorites!
    </p>
    <pre>
    - Cheyenne
    </pre>
</div>
{% endblock %}