{% extends "base.njk" %}

{% block title %}Top 50 Albums{% endblock %}

{% block head %}
<style>
  .excerpt {
    margin: 1em 0;
    display: flex;
    align-items: center;
    font-family: Geneva;
  }

  li:nth-child(even) .excerpt {
    flex-direction: row-reverse;
  }

  .excerpt-content p {
    flex-grow: 1;
    display: inline;
  }

  .excerpt-img {
    margin-left: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .excerpt-img img {
    height: 150px;
  }

  li:nth-child(even) .excerpt-img {
    margin-left: 0;
    margin-right: 4em;
  }

  @media only screen and (max-width: 540px) {
    .excerpt {
      flex-direction: column-reverse;
    }

    li:nth-child(even) .excerpt {
      flex-direction: column-reverse;
    }

    .excerpt-img {
      margin-left: 0;
      margin-bottom: 1em;
      align-self: center;
    }

    .excerpt-img img {
      height: 200px;
    }

    li:nth-child(even) .excerpt-img {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
{% endblock %}

{% block content %}
<p class="heading center">Top 50 Albums</p>
<ol reversed>
  {% set sortedAlbums = collections.all | sort(true, false, attribute="data.rank") %}
  {% for album in sortedAlbums %}
  {% if '/top50/' in album.url and album.url != page.url %}
  <li class="album" id="{{ album.data.rank }}">
    <a href="{{ album.url }}">
      <i>{{ album.data.title }}</i> by {{ album.data.artist }}
    </a>
    <div class="excerpt">
      <div class="excerpt-content">
        {{ album.page.excerpt | markdown | safe }}
        {% if not album.data.is_short %}<a href="{{ album.url }}" style="color: gray;">Read more&hellip;</a>{%
        endif %}
      </div>
      <div class="standard-dialog center excerpt-img">
        <img src="{{ album.data.img_url }}" alt="{{ album.data.title }} cover" loading="lazy">
      </div>
    </div>
    <hr>
  </li>
  {% endif %}
  {% endfor %}
</ol>
{% endblock%}