{% extends "base.njk" %}

{% block title %}Top 50 Albums: {{ title }}{% endblock %}

{% block head %}
<style>
    .heading {
        margin: 0;
    }

    .review {
        font-family: 'Times New Roman', Times, serif;
    }

    .review-img {
        float: right;
        margin: 0 0 1em 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .review-img img {
        height: 500px;
    }

    .review-img-mobile {
        display: none;
    }

    .nav {
        display: flex
    }

    .nav p:first-child {
        flex-grow: 1;
    }

    .nav p:last-child {
        margin-left: 1em;
    }

    @media only screen and (max-width: 540px) {
        .review-img-desktop {
            display: none;
        }

        .review-img-mobile {
            display: flex;
        }

        .review-img {
            float: right;
            margin: 0 0 1em 0;
            align-items: center;
            justify-content: center;
        }

        .review-img img {
            width: 100%;
            height: auto;
        }
    }
</style>
{% endblock %}

{% block content %}
<div>
    <div class="review-img review-img-desktop standard-dialog center">
        <img src="{{ img_url }}" />
    </div>

    <p class="heading">
        <i>{{ title | markdownin | safe }}</i> by {{ artist | markdownin | safe }}
    </p>
    <p class="subheading">#{{ rank }}</p>

    <div class="review-img review-img-mobile standard-dialog center">
        <img src="{{ img_url }}" />
    </div>

    <div class="review">
        {{ content | safe }}
    </div>

    <div class="nav">
        <p><a href="../#{{ rank }}">&lt; List</a></p>
        {% if prev %}<p><a href="../{{ prev }}">&lt; #{{ rank + 1 }}</a></p>{% endif %}
        {% if next %}<p><a href="../{{ next }}">#{{ rank - 1 }} &gt;</a></p>{% endif %}
    </div>
</div>
{% endblock %}