{% extends "base.njk" %}

{% block title %}Top 50 Albums: {{ title }}{% endblock %}

{% block content %}
<p><a href="../#{{ rank }}">&lt; Back</a></p>

<h1>{{ title }} by {{ artist }}</h1>
<img src="{{ img_url }}" />

{{ content | safe }}
{% endblock %}