{% extends "base.njk" %}

{% block title %}Top 50 Songs{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<p class="heading center">Top 5 EPs</p>
<ol reversed>
    {% set sortedEPs = collections.ep | sort(true, false, attribute="data.rank") %}
    {% for ep in sortedEPs %}
    {% set rank = ep.data.rank %}
    <li class="ep" id="{{ ep.data.rank }}" style="
            /* margin-left: calc(20% + sin({{ rank }}deg * 360deg / 5deg) * 20%); */
            /* transform: rotate(calc(sin({{ rank }}deg * 360deg / 50deg * -1) * 10deg)); */
            /* margin-bottom: 1em; */
        ">
        <!-- <a href="{{ ep.url }}"> -->
        <i>{{ ep.data.title | markdownin | safe }}</i> by {{ ep.data.artist | markdownin | safe }}
        <!-- </a> -->
        <!-- <hr> -->
    </li>
    {% endfor %}
</ol>
{% endblock%}