{% extends "base.njk" %}

{% block title %}Top 50 Songs{% endblock %}

{% block head %}
<style>
    .excerpt {
        margin: 1em 0;
        font-family: 'Times New Roman', Times, serif;
    }

    .excerpt p {
        display: inline;
    }
</style>
{% endblock %}

{% block content %}
<p class="heading center">Top 50 Songs</p>
<ol reversed>
    {% set sortedSongs = collections.song | sort(true, false, attribute="data.rank") %}
    {% for song in sortedSongs %}
    {% set rank = song.data.rank %}
    <li class="song" id="{{ song.data.rank }}" style="">
        {% if not song.data.is_short %}
        <a href="{{ song.url }}">
            <i>{{ song.data.title | markdownin | safe }}</i> by {{ song.data.artist | markdownin | safe }}
        </a>
        {% else %}
        <i>{{ song.data.title | markdownin | safe }}</i> by {{ song.data.artist | markdownin | safe }}
        {% endif %}

        {% if song.page.excerpt %}
        <div class="excerpt">
            {{ song.page.excerpt | markdown | safe }}
            {% if not song.data.is_short %}<a href="{{ song.url }}" style="color: gray;">Read
                more&hellip;</a>{%
            endif %}
        </div>
        {% endif %}
        <hr>
    </li>
    {% endfor %}
</ol>
{% endblock%}